.abilityIcon {
  width: 45px;
  height: 45px;
  display: inline-block;
}

.icon {
  width: 30px;
  height: 30px;
  position: absolute;
  border-radius: 50%;
  margin-top: -2.36em;
  margin-left: .474em;
}

.transparent {
  opacity: 0.5;
}
