.itemSelection {
  width: 8%;
  height: 6em;
  margin-top: 2em;
  margin-left: 1em;
  margin-right: 1em;
  transition: ease-out .5s;
  display: inline-block;
}

.itemImageWrapper {
  border: 1px solid #2c66b2;
  border-radius: 10%;
  padding: 0.5em;
  margin-bottom: 0.5em;
  width: 4em;
  height: 4em;
  position: relative;
}

.itemSelectionImage {
  width: 4em;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.itemSelectionTitle {
  text-align: left;
  line-height: 16px;
  display: flex;
  font-size: 16px;
  margin-bottom: .5em;
}

.itemSelectionPrice {
  text-align: left;
  line-height: 16px;
  display: flex;
  font-size: 14px;
  color: #ab8432;
}
