.informationTitle {
  margin-top: 1em;
  font-size: 20px;
  height: 30px;
  color: white;
  font-family: 'Pacifico', Sans, Lato, Droid Sans;
  margin-left: 40%;
  width: 20%;
  color: #c1cadb
}

.gameOverText {
  margin-top: 2em;
  font-size: 20px;
  height: 30px;
  color: #2c66b2;
  font-family: 'Pacifico', Sans, Lato, Droid Sans;
  margin-left: 40%;
  width: 20%;
}

.instructionControl {
  color: #ffa109;
  margin-right: 0.2em;
}

.creditTitle {
  color: #ffa109;
  margin-right: .5em;
}

.informationText {
  height: 1.25em;
  font-family: 'Pacifico', Sans, Lato, Droid Sans;
  font-size: 18px;
  padding: 0.25em;
  color: #2c66b2;
}

.noteText {
  height: 1.25em;
  font-family: 'Pacifico', Sans, Lato, Droid Sans;
  font-size: 14px;
  padding: 0.25em;
  color: gray;
}

.modal {
  background-color: rgba(0,0,0,0.8);
  animation-name: slideDown;
  -webkit-animation-name: slideDown;
  animation-duration: .5s;
  -webkit-animation-duration: .5s;
  animation-timing-function: ease;
  position: fixed;
  width: 60%;
  height: 80%;
  margin-left: 20%;
  overflow: scroll;
  border-bottom: 1px solid #ffa109;
}

.modalTabs {
  margin-top: 1em;
  margin-bottom: 2em;
}

.selectionButton {
  font-size: 20px;
  height: 30px;
  color: #2c66b2;
  font-family: 'Pacifico', Sans, Lato, Droid Sans;
  margin-left: 40%;
  width: 20%;
  transition: ease-in 1.5s;
}

.closeButton {
  margin-top: 2em;
  font-size: 20px;
  height: 30px;
  color: #2c66b2;
  font-family: 'Pacifico', Sans, Lato, Droid Sans;
  margin-left: 40%;
  width: 20%;
  transition: ease-in 1.5s;
}

.assetLink {
  margin-left: 1em;
  color: #2c66b2;
  font-family: 'Pacifico', Sans, Lato, Droid Sans;
  transition: ease-in 1.5s;
}

.closeButton:hover {
  cursor: pointer;
  box-shadow: 0 0 8px 0 rgba(0,0,0, 0.3);
}

.selectionButton:hover {
  cursor: pointer;
  box-shadow: 0 0 8px 0 rgba(0,0,0, 0.3);
}

.selectionText {
  font-family: 'Pacifico', Sans, Lato, Droid Sans;
  font-size: 20px;
  margin: 1em;
  display: inline-block;
  width: 15%;
  opacity: 0.5;
  padding-bottom: 1em;
  transition: ease-out .5s;
  border-bottom: 1px solid #2c66b2;
}

.selectionText:hover {
  cursor: pointer;
  opacity: 1;
  transition: ease-in .5s;
}

.activeTab {
  opacity: 1;
  border-bottom: 1px solid #ffa109;
}

.exitButton {
  padding: 12px;
  font-size: 16px;
  color: #2c66b2;
  border: 1px solid #2c66b2;
  border-radius: 5px;
  transition: ease-out .3s;
  width: 4em;
  margin-left: 2em;
  position: absolute;
  bottom: 1em;
}

.exitButton:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: ease-in .3s;
}

.formLabel {
  margin-top: 4em;
  display: block;
  font-size: 30px;
  color: #2c66b2;
}

.formInput {
  margin-top: 4em;
  font-size: 20px;
  padding: .15em;
}

.infoImage {
  margin-bottom: 1em;
}

.blueShipInfo {
  transform: rotate(180deg);
}

.informationContext {
  height: 1.25em;
  font-family: 'Pacifico', Sans, Lato, Droid Sans;
  font-size: 14px;
  padding: 0.25em;
  color: #2c66b2;
}

@keyframes slideDown {
	0% {
		transform: translateY(-100%);
	}
	100% {
		transform: translateY(0%);
	}
}

@-webkit-keyframes slideDown {
	0% {
		-webkit-transform: translateY(-100%);
	}
	100% {
		-webkit-transform: translateY(0%);
	}
}
