.paginateButton {
  margin-top: 4em;
  font-size: 20px;
  height: 30px;
  color: #2c66b2;
  font-family: 'Pacifico', Sans, Lato, Droid Sans;
  margin-left: 40%;
  width: 20%;
  transition: ease-in 1.5s;
}

.paginateButton:hover {
  cursor: pointer;
  box-shadow: 0 0 8px 0 rgba(0,0,0, 0.3);
}
