.paginateButton {
  font-size: 20px;
  height: 30px;
  color: #2c66b2;
  margin-left: 40%;
  width: 20%;
  bottom: 0;
  position: absolute;
  margin-bottom: 2em;
  transition: ease-in 1.5s;
}

.paginateButton:hover {
  cursor: pointer;
  box-shadow: 0 0 8px 0 rgba(0,0,0, 0.3);
}
