.playerData {
  position: fixed;
  font-size: 16px;
  margin-left: 2rem;
  text-align: left;
  display: flex;
}

.ScoreInfo {
  font-size: 14px;
  color: gray;
  padding-top: .75rem;
  padding-bottom: .75rem;
}

.nameInfo {
  font-size: 14px;
  font-weight: bold;
  color: #2c66b2;
  margin-top: 1.5em;
  margin-bottom: .75rem;
}

.playerImage {
  border-radius: 50%;
  width: 4em;
  height: 4em;
  margin-bottom: 1rem;
}

.playerInfoWeapon {
  width: 2.5em;
  margin-top: 1em;
  margin-bottom: 1em;
  display: inline-block;
  transform: rotate(270deg);
}

.waitCountDown {
  margin-top: .5em;
  font-size: 36px;
  color: red;
  width: 1em;
  height: 1em;
  display: inline-block;
}

.waiting {
  opacity: 0.5;
}

.playerItemData {
  position: relative;
  text-align: center;
  display: inline-block;
}

.playerItemImage {
  width: 2em;
  border-radius: 7px;
}

.faded {
  opacity: .5;
}

.itemCountDown {
  margin-top: 0.85em;
  margin-left: 0.75em;
  color: red;
  z-index: 1;
  position: fixed;
}

.playerShip {
  width: 3em;
  margin-top: 1.5em;
  margin-bottom: 1.25em;
  display: inline-block;
  transform: rotate(270deg);
}

.redDefenseData {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  color: #9c1616;
  padding-top: .75rem;
  padding-bottom: .75rem;
  margin-right: 1em;
}

.blueDefenseData {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  color: #2c66b2;
  padding-top: .75rem;
  padding-bottom: .75rem;
}

.defenseData {
  margin-top: 2em;
  margin-bottom: 1em;
}
