.playerData {
  position: fixed;
  font-family: 'Pacifico', Sans, Lato, Droid Sans;
  font-size: 16px;
  margin-left: 2rem;
  text-align: left;
  display: flex;
}

.playerInfo {
  font-family: 'Pacifico', Sans, Lato, Droid Sans;
  font-size: 14px;
  color: gray;
  padding-top: .75rem;
  padding-bottom: .75rem;
}

.playerImage {
  border-radius: 50%;
  width: 4em;
  height: 4em;
  margin-bottom: 1rem;
}

.playerLivesShip {
  width: 6em;
  margin-top: 1.5em;
  margin-bottom: .5em;
  display: inline-block;
}

.playerInfoWeapon {
  width: 3.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  display: block;
}

.waitCountDown {
  margin-top: .5em;
  font-size: 36px;
  color: red;
  width: 1em;
  height: 1em;
  display: inline-block;
}

.waiting {
  opacity: 0.5;
}

.playerItem {
  width: 2em;
  border-radius: 7px;
  display: inline-block;
}
