.selection {
  width: 16%;
  margin-top: 2em;
  margin-left: 1em;
  margin-right: 2em;
  opacity: 0.5;
  transition: ease-out .5s;
  display: inline-block;
}

.selected {
  opacity: 1;
}

.selection:hover {
  cursor: pointer;
  opacity: 1;
  transition: ease-in .5s;
}

.selectionImage {
  border: 1px solid #ffa109;
  border: 1px solid #2c66b2;
  border-radius: 10%;
  padding: 1em;
  margin-bottom: 1em;
}

.selectionData {
  padding: 1em;
  text-align: left;
  width: 100%;
}
