.selection {
  width: 10em;
  height: 12em;
  margin-top: 2em;
  margin-left: 1em;
  margin-right: 1em;
  transition: ease-out .5s;
  display: inline-block;
}

.dim {
  opacity: 0.5;
}

.hovered {
  cursor: pointer;
}

.imageWrapper {
  border: 1px solid #2c66b2;
  border-radius: 10%;
  padding: 0.5em;
  margin-bottom: 1em;
  width: 8em;
  height: 8em;
  position: relative;
}

.selectionImage {
  width: 8em;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.selectionTitle {
  padding: .5em;
  text-align: left;
  line-height: 4px;
  display: flex;
  font-size: 16px;
  margin-bottom: .5em;
}

.selectionPrice {
  padding: .5em;
  text-align: left;
  line-height: 4px;
  display: flex;
  font-size: 14px;
  color: #ab8432;
}

.selectionData {
  padding: .5em;
  text-align: left;
  line-height: 4px;
  display: flex;
  font-size: 14px;
  color: gray;
}

.selectionDescription {
  padding: .5em;
  text-align: left;
  line-height: 1.3em;
  display: flex;
  font-size: 12px;
  height: 0.5em;
  color: #2c66b2;
}

.abilityTitle {
  padding: .5em;
  text-align: left;
  line-height: 4px;
  display: flex;
  font-size: 14px;
  margin-top: 0.5em;
  color: #2c66b2;
}

.abilityDescription {
  margin-top: 1em;
  text-align: left;
  line-height: 1.5em;
  display: flex;
  font-size: 16px;
  color: #2c66b2;
  padding-right: 10px;
  position: absolute;
}
