body {
  padding: 0;
  font-family: "Open Sans", "lucida grande", "Segoe UI", arial, verdana, "lucida sans unicode", tahoma, sans-serif;
  background: black;
  color: #fff;
  position: relative;
}

#app {
}

.game:focus {
  outline: none;
}

.row {
  line-height: 0;
}

.canvas {
  background-image: url("../images/background.jpg");
}

.hidden {
  display: none;
}

.playerWeapon {
  border: 10px solid red;
}
