body {
  padding: 0;
  font-family: "Open Sans", "lucida grande", "Segoe UI", arial, verdana, "lucida sans unicode", tahoma, sans-serif;
  background: black;
  position: relative;
  overflow: hidden;
  color: #c1cadb;
}

.game:focus {
  outline: none;
}

.canvas {
  background: url("../images/spaceBackground.png");
  background-size: cover;
}

.hidden {
  display: none;
}

.playerWeapon {
  border: 10px solid red;
}
